body {
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 960px;
    margin: auto;
}
img {
    /* Selector vào tất cả thẻ img và cho chiều rộng không vượt qua element cha */
    max-width: 100%;
}
header {
    display: flex;
    /* thuộc tính justify-content dành cho thành phần cha */
    /* Thuộc tính justify-content có tác dụng cho các thành phần con nằm cùng 1 hàng theo trục X */
    /* Giá trị space-between có tác dụng chia đều khoảng cách 3 thành phần con 
    https://css-tricks.com/almanac/properties/j/justify-content/
    */
    justify-content: space-between;

    /* Thuộc tính align-items dành cho thành phần cha */
    /* Thuộc tính align-items có tác dụng cho thành phần con căn giữa trên dưới theo trục Y */
    /* https://css-tricks.com/almanac/properties/a/align-items/ */
    align-items: center;
}
.menu {
    display: flex;
    /* thuộc tính list-style: none có tác dụng bỏ dấu chấm trước danh sách */
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    margin: 0 15px;
}
.menu li a {
    /* Bỏ gạch chân cho thẻ a */
    text-decoration: none;
    color: #000;
}
.account {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.account li {
    margin: 0 15px;
}
.account li a {
    /* Bỏ gạch chân cho thẻ a */
    text-decoration: none;
    color: #000;
}

/* ========= PRODUCT ====== */
.product-list {
    /* Thiết lập hệ thống lưới cho div */
    display: grid;
    /* Chia 3 cột */
    grid-template-columns: 1fr 1fr 1fr;
    /* Tạo khoảng cách giữa các cột là 30px */
    grid-gap: 30px;
}
.product {
    position: relative;
}
.product-info {
    display: none;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
/* Khi di chuyển chuột vào product thì nội dung hiện lên */
.product:hover .product-info {
    display: block;
}
.product-name a {
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}
.product-price {
    display: block;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}
.product-link {
    display: block;
    background: #2c2c2c;
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    margin-top: 20px;
}
